.easy-autocomplete.sheroes {
  	/*
  	font: {
  		size: 16px;
  	}
  
  	input {
  		height: 42px;
  		padding: 8px 16px;
  	}
  	*/ }
  .easy-autocomplete.sheroes input:focus {
    border-color: #ccc;
    box-shadow: none; }
  .easy-autocomplete.sheroes ul li {
    border-bottom: 1px dotted #ccc; }
    .easy-autocomplete.sheroes ul li:last-child {
      border-bottom: 1px solid #ccc; }
  .easy-autocomplete.sheroes .eac-item {
    font-size: 14px;
    margin-top: 0;
    min-height: 0;
    padding: 10px 8px;
    position: relative; }
    .easy-autocomplete.sheroes .eac-item .eac-icon {
      color: #555;
      max-height: none;
      position: absolute;
      right: -4px;
      width: 42px;
      top: -2px; }
