{{define "praveshika"}}
{{template "header"}}
<div class="doc-wrapper">
            <div class="container">
                <div id="doc-header" class="doc-header text-center">
                    <h1 class="doc-title">Jain Siddhant Praveshika</h1>
                </div><!--//doc-header-->

                <div class="doc-body row" >
                    <div class="doc-content col-md-9 col-12 order-1">
                        <div class="content-inner">
                            <section id="dashboards" class="doc-section">
                                <h2 class="section-title">Search</h2>
	                            <div class="main-search-box pt-3 pb-4 d-inline-block">
	                                <form class="form-inline search-form justify-content-center">
                     		            <div class="easy-autocomplete" style="width: 80px;">
                                            <input id="example-ddg" placeholder="{{if.Query}} {{.Query}} {{else}} Type Something... {{end}}"
			                                        autocomplete="off" size=30>
                                            <div class="easy-autocomplete-container"
			                                    id="eac-container-example-ddg">
                                            </div>
                                        </div>&nbsp;&nbsp;&nbsp;&nbsp; 
			                            <!-- <button class="btn search-btn" value="Search" id="search-button"><i class="fas fa-search"></i></button> -->
                                        <a href="#" class="btn btn-primary" id="search-button">Search</a>
			            
			                        </form>
	                                </div>

                                    <script>
                                        var options = {
                                            url: function(phrase) {
                                                if (phrase != "") {
                                                    return "/q?prefix=" + phrase
                                                }
                                            },

                                            getValue: "Word",

                                            ajaxSettings: {
                                                dataType: "jsonp"
                                            },
                                            requestDelay: 100,
                                        };

                                        $("#example-ddg").easyAutocomplete(options);

                                    </script>

                                    <script type="text/javascript">
                                        document.getElementById("search-button").onclick = function () {
                                            console.log("hi")
                                            var query_word = document.getElementById("example-ddg").value;
                                            console.log("query word: " + query_word)
                                            location.href = "/praveshika?query=" + query_word;
                                        };
                                    </script>
                                
                            </section><!--//doc-section-->

                            {{ if not .Query}}
                                <!-- nothing -->
                            {{else}}
                            <section id="general" class="doc-section">
                                <h2 class="section-title">Search Results: {{.Query}}</h2>

                                {{$length := len .Results}} {{if eq $length 0}}
                                    <br>
                                    <h4 class="question">No results found!</h4>
                                {{else}}
                                    {{range .Results}}
                                    <div class="section-block">
                                        <h3 class="question"><b>Q {{.Chapter}}.{{.Number}}</b>: {{.Question}}</h3>
                                        <div class="answer"><span class="question"><b>A:&nbsp;</b></span>{{.Answer}}</div>
                                    </div><!--//section-block-->
                                    {{end}}
                                {{end}}
                            </section><!--//doc-section-->
                            {{end}}
                                                        
                        </div><!--//content-inner-->
                    </div><!--//doc-content-->
                    {{template "sidebar"}}
                </div><!--//doc-body-->              
            </div><!--//container-->
        </div><!--//doc-wrapper-->
                
    </div><!--//page-wrapper-->
{{template "footer"}}
{{end}}