{{define "sidebar"}}
<div class="doc-sidebar col-md-3 col-12 order-0 d-none d-md-flex">
    <div id="doc-nav" class="doc-nav">
        <nav id="doc-menu" class="nav doc-menu flex-column sticky">
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link" href="/catalogue">Jain Catalogue</a>
            <a class="nav-link" href="/praveshika">Jain Siddhant Praveshika</a>
                <nav class="doc-sub-menu nav flex-column">
                    <a class="nav-link" href="/praveshika">Search</a>
                    <a class="nav-link" href="/praveshika?full">Read Full</a>
                </nav>
            <a class="nav-link" href="/intro">Intro to Jainism</a>
        </nav><!--//doc-menu-->
    </div><!--//doc-nav-->
</div><!--//doc-sidebar-->
{{end}}